* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  
}
/* SFONDO DEL BODY DI PAGINA */

/* DIMENSIONE TESTO: px,em,...  CON LA PROPIETA' FONT-SIZE
MENTRE FONT-WEIGHT FA LO SPESSORE ED HA DEI VALORI DA 100-A-900 */



body {

    background-color: aquamarine !important;


}

/* Aggiungo per un colore di sfondo 
rgba:red ,green, blue, (alpha=trasparenza)
AA; 
/* SINTASSI #RRGGBBAA */
/* ...+ Valori;---rgba=RGB:COLORE; A:Trasparenza!!!((da 0 a 1, = 10%); 
(aa se trasparente,(del tutto, 0%) IL 4 VALORE AGGIUNTO EQUIVALE AD ALPHA! 
o ff se opaco)- (100%, pieno- opaco;) ; una trasparenza al mio colore scelto  */ */



/* HERO */

.hero-section{
   height: 100vh;
margin-top: 5px;
    margin-bottom: 50%;
    background-color: cyan;
   /* creo lo spazio per la navbar ed altro  */
    /*ATTIVA FLEXBOX  */
   display: flex;
    /* Ho trasformato elemento ad un contenitore flessibile, permettendomi a controllare allineamento al suo interno. */
    /* Allineo ORIZZONTALE CON JUSTIFY-CONTENT CENTER. e do una propietà per stare al centro  */
   /* X */
    justify-content: center;
    /* Y */
    align-items: center;
    /* ALIGN-ITEMS : ALLINEA IN ASSE VERTICALE (Y) Elementi che poi io con la propietà li dispongo al centro; ) POSSONO CENTRARSI ELEMENTI DENTRO A DIV, BOX, UN HEADER E QUALSIASI ALTRO ELEMENTO TAG.-Contenitore*/
/* 3 regole che assieme danno propietà ad un corretto allineamento centrato (X E Y REGOLATE, IN MODO + VELOCE; */


/* I SELETTORI CSS: Selettori : Universale è con asterisco * , per ID :# , per Classi: .class (puoi aggiungere prop. es. ; :hover ; e in linea di massima aggiungi 
!important che serve per prestabilire in maniera forte la tua regola.*/

}


/* TITOLO */

h1 {
    font-weight: 300;
    font-size: 3 rem;
    display: block;
    text-align: center;
    text-shadow: rgba(182, 209, 135, 0.7), wheat;
    color:rgb(117, 31, 203);
    font-family: "Electrolize", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* SOTTOTITOLO */
h2{
    font-weight: bold;
    color: blue;
    
}


/* NAVBAR */
.navbar {
    width: 100%;
   height: 70px;
   display: flex;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
    background-color: gray;
    
}

/* LINK NAVBAR */

.pagination , li{
    color:red;
}
.stile{
background-color: darkcyan;
padding:30px 20px;
  gap: 30px;
border-radius:40px;
list-style: none;
display: flex;

}
/* STILE ALLA NAVBAR */
.stile li a {
    color:white;
    display: inline;
   transition: 0.3s;
}

.stile li a:hover {
    transform: scale(1.8);
    color: #b09bf1e1;
}




/* CSS PER LE CARDS FILMS */

.film-box {
    background: blue;

    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: yellowgreen;
}



.film-box img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}
/* STILE ALLE CARD PER UN HOVER A INGRANDIRE */
.film-box img:hover {
    transform: scale(1.05);
}

/* STILI E COLORI PER  FILM E SUO TITOLO E PARAGRAFO  */
.film-box h3 {
color: red;

} 

.film-box p {
color: yellow;

} 

/* STILE AL LINK DEL SINGOLO FILM  */
.film-link  {
    display: inline-block;
    transition: 0.3s;
    color:rgb(254, 181, 47);
}

/* HOVER EFFETTO PER AVERE INTERATTIVITA' DI CSS AL LINK */
.film-link:hover {
    transform: scale(1.8) translateY(-3px);
    color: rgba(201, 132, 5, 0.137);

}


/* :HOVER E' PROPIETA' CHE A PASSAGGIO DEL MOUSE CAMBIA 
QUALCOSA DEL TESTO O SFONDO;.... 
MENTRE ACTIVE :SE, CLICCATO.*/





/* css per modale e form */
/* Bottone */
.btn {
    transition: 0.3s;
}

#Films{
    background-color: rgb(201, 173, 228);
}
#Films h2{
   color: red;;
   
}

#Films:hover h2{
    color:pink;
    transition: 0.2s;
}


/* CSS MODALE */

.bottone {
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 8px yellow;
    font-weight: bold;
}

h5 {
border-radius: 5px;
    font-weight: 900;
    color: blue;
    background-color: rgb(31, 250, 250);
    color:darkblue;
    display: block;
    justify-content: center;
  align-items: center;
}
.modal-content {
    background-color: #e8f6ff;
    border-radius: 32px;
     padding: 20px;
    border: 2px solid #0d6efd; 
} 

.modal-body {
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
    background-color: #95abab;
    color: rgb(56, 6, 56);
}

.form-wrapper {
    color: aquamarine;
    width: 350px;
    margin: 240px auto;
    padding: 60px;
    background-color: #35093b;
    border-radius: 15px;
    box-shadow: 0 0 10px #0d6efd55;
}
.form-wrapper input {
    background-color: white;
    color: black;
    border: 2px solid #0d6efd;
}

.form-wrapper input:hover {
     box-shadow: white;
     
    border-bottom: 2px solid yellow;
    background-color: pink;
}











/* CSS PER IL FOOTER-PIE' DI FONDO PAGINA */

footer{
     box-shadow: 0 0 10px #0d6efd55;
    background-color: cyan ;
    color: darkblue ;
   height: 120px;
    border-color: grey;
    border-top: 3px solid cadetblue;
    
    text-align: center;
height: 15px 0;

    display:block;
}


/* MEDIA QUERY PER RENDERE RESPONSIVE A UN LAYOUT PER MOBILE O SCHERMI RIDOTTI */

@media (max-width: 576px) {

     .form-wrapper {
        width: 90%;
    }


    .modal-dialog {
        margin: 20px;
    }

    .film-box img {
        height: 200px;
        object-fit: cover;
    }

    h1 {
        font-size: 2rem;
    }
}